// Font Sizing
$font_sm:0.8rem;
$font_md:1rem;
$font_lg:1.25rem;
$font_xl:1.563rem;
$font_2xl:1.953rem;
$font_3xl:2.441rem;
// Main Sizing
$in_padding:$font_2xl;
$side_size:18rem;
$nav_height:5rem;
// Screen
$s_mobile:1199.98px;
// Color Palate
$bg_color:#F3F3F4;
$main_color:#00D1CD;
$main_color_reduce:#48cac8;
$main_red_color:#FF0000;
$text_main_color:#464646;
$text_sec_2:#B6B6B6;
$text_sec_color:#8282A0;